.section-subtitle {
  color: var(--color, var(--blue-green-color-wheel));
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-block-end: 15px;
}

.section-title {
  text-align: center;
}

.section-text {
  font-size: var(--fs-5);
}

.title-wrapper {
  position: relative;
  padding-block: 40px;
  margin-block-end: 50px;
  z-index: 1;
}

.card-link {
  color: var(--spanish-gray);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  transition: var(--transition-2);
}

.card-link .span {
  display: inline-block;
  color: var(--hover-color, var(--black-chocolate));
  transition: var(--transition-2);
}

.card-meta-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.card-meta-item {
  position: relative;
  color: var(--orange-web);
  font-size: var(--fs-6);
}

.h1,
.h2,
.h3 {
  color: var(--black-chocolate);
  font-family: var(--ff-playfair);
  line-height: 1.1;
}

.h1 {
  font-size: var(--fs-1);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-4);
}

.grid-list {
  display: grid;
  gap: 50px;
}

.course-card .card-banner {
  margin-block-end: 30px;
}

.course-card .card-content {
  position: relative;
  padding: 10px;
  padding-block-end: 15px;
}

.course-card .card-price {
  background-color: var(--blue-green-color-wheel);
  color: var(--white);
  font-weight: var(--fw-700);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  margin-inline: auto;
  margin-block-start: -80px;
  margin-block-end: 20px;
  border: 2px solid var(--white);
  border-radius: 50%;
}

.course-card .card-title {
  margin-block: 10px 20px;
  transition: var(--transition-1);
}

.course-card .card-title:is(:hover, :focus) {
  color: var(--orange-web);
}

.container {
  max-width: 750px;
  width: 100%;
  margin-inline: auto;
}

.course .grid-list {
  grid-template-columns: 1fr 1fr;
}

.course-card .card-price {
  width: 80px;
  height: 80px;
  font-size: var(--fs-4);
  margin-block-start: -100px;
}

.course-card .h3 {
  --fs-4: 2.4rem;
}

.course-card .card-content {
  padding: 30px;
  padding-block-end: 25px;
}

:root {
  /* colors */
  --blue-green-color-wheel_60: hsla(165, 77%, 17%, 0.6);
  --blue-green-color-wheel_10: hsla(165, 77%, 17%, 0.1);
  --blue-green-color-wheel: hsl(165, 77%, 17%);
  --black-chocolate: hsl(32, 24%, 14%);
  --spanish-gray: hsl(210, 3%, 62%);
  --orange-web: hsl(38, 100%, 50%);
  --davys-gray: hsl(213, 5%, 34%);
  --light-gray: hsl(0, 0%, 80%);
  --msu-green: hsl(165, 77%, 15%);
  --cultured: hsl(30, 22%, 96%);
  --white_15: hsl(0, 0%, 100%, 0.15);
  --white: hsl(0, 0%, 100%);
  --onyx: hsl(210, 10%, 23%);

  /* typography */
  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-playfair: 'Playfair Display', serif;
  --fs-1: 3.6rem;
  --fs-2: 2.4rem;
  --fs-3: 2.2rem;
  --fs-4: 2rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;
  --fs-7: 1.3rem;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /* spacing */
  --section-padding: 60px;

  /* shadow */
  --shadow-1: 0 2px 30px hsla(0, 0%, 0%, 0.1);
  --shadow-2: 2px 4px 8px hsla(215, 20%, 16%, 0.15);

  /* border radius */
  --radius-2: 2px;
  --radius-10: 10px;
  --radius-50: 50px;

  /* transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}